.idea
README.md
wp-config.php
xmlrpc.php
/.htaccess
/wp-admin
/wp-includes
/readme.html
/index.php
/license.txt
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/wp-config-sample.php
/wp-content/uploads
/wp-content/plugins
/wp-content/index.php
/wp-content/languages
/wp-content/upgrade
/wp-content/themes/twentynineteen
/wp-content/themes/twentyseventeen
/wp-content/themes/twentytwenty
/wp-content/themes/viknоsstyle/node_modules
/wp-content/themes/viknоsstyle/package-lock.json

