html{
  font-family: 'Open Sans', sans-serif;
  background: $white;
}

body {
  overflow-x: hidden;
}

body{
  &.noscroll{
    overflow: hidden;
  }
}

a{
  text-decoration: none;
}

p{
  margin: 0 0 10px 0;
  text-align: justify;
}

h2{
  color: #000;
  font-size: 26px;
  margin-bottom: 25px;
}
h3{
  font-size: 24px;
  margin-bottom: 10px;
}

.wrapper{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.wrapper{
  @include md-min {
    width: 750px;
  }
  @include lg-min{
    width: 970px;
  }
  @include xl-min{
    width: 1170px;
  }
}

section{
  padding: 85px 0;
  position: relative;
  @include lg-max{
    padding: 65px 0;
  }
  @include xs-max{
    padding: 40px 0;
  }
}

span{
  display: inline-block;
}

.btn {
  font-size: 14px;
  padding: 15px 30px;
  letter-spacing: 1px;
  border-radius: 10px;
  font-weight: 500;
  color: #fff;
  border: none;
  transition: all .3s ease-in-out;
  display: inline-block;
  text-transform: uppercase;
  &:hover{
    background: $grey-hover;
  }
}

.title{
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  @include sm-max{
    font-size: 24px;
  }
  &:before{
    content: "";
    height: 1px;
    width: 130px;
    display: block;
    position: absolute;
    bottom: 0;
    //right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 0;
    background: $light-red;
  }
  &:after{
    content: "";
    width: 22px;
    height: 9px;
    border-radius: 20%;
    bottom: -4px;
    position: absolute;
    left: 0;
    //right: 0;
    margin: 0 auto;
    z-index: 1;
    background: $light-red;
  }
}
  svg:not(:root) {
    overflow: hidden;
  }

.content{
  img {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
