$white: #fff;
$dark-blue: #2a4696;
$light-blue: #1d6fb7;
$blue-opacity: rgba(42,70,150,.74);

$base-red: #a50d11;
$base-black: #272727;

$light-red: #d21323;

$dark-red: #721f1f;
$grey: #404040;
$grey-hover: #3c3c3c;
