.content{
  //background: hsla(0,0%,77%,.25);
  .wrapper{
    display: flex;
  }
  &__catalog{
    flex-basis: 50%;
  }
  &__about{
    flex-basis: 50%;
  }
}

.catalog{
  &__item{
    padding: 15px 20px;
    width: 80%;
    background: #fff;
    border-left: 8px solid $base-black;
    box-shadow: 0.052px 3px 6px 0 rgba(0,0,0,.31);
    margin-bottom: 10px;
    transition: .3s;
    &:hover{
      margin-left: 15px;
      .catalog__link{
        span{
          color: #000;
        }
        .bg-icon{
          background: $grey-hover;
        }
      }
    }
  }
  &__link{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list{
    display: flex;
    //justify-content: space-between;
    flex-direction: column;
    span{
      color: #5d5d5d;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      transition: .3s;
    }
    i{
      color: #fff;
    }
    .bg-icon{
      display: block;
      border-radius: 50%;
      box-shadow: 0.052px 3px 6px 0px rgba(0, 0, 0, 0.31);
      width: 52px;
      height: 52px;
      background: $light-red;
      color: #333333;
      padding: 7px 22px;
      font-size: 26px;
      transition: .3s;
    }
  }
}
