.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  &__input{
    width: 426px;
    height: 50px;
    font-size: 15px;
    padding: 14px 20px 14px 0;
    margin-bottom: 24px;
    transition: all 0.25s;
    background: rgba(0, 0, 0, 0);
    border-color: $base-red;
    border-width: 0 0 1px 0;
    border-style: none none solid none;
    &:hover{
      transition: all 0.25s;
    }
    @include xl-max{
      width: 346px;
    }
    @include sm-max{
      width: 250px;
    }
  }
  &__btn{
    color: $base-red;
    letter-spacing: 5px;
    background: #fff;
    border: 1px solid $base-red;
    margin-top: 15px;
    &:hover{
      background: #000;
      color: #fff;
    }
  }
}


.title-form{
  text-align: center;
  font-size: 26px;
  color: $base-red;
  margin-bottom: 10px;
}

.g-recaptcha{
  display: flex;
  justify-content: center;
  transform: scale(0.95);
}
