.header{
  position: relative;
  @include gradient;
  margin-bottom: 180px;
  @include respond(767){
    margin-bottom: 110px;
  }
  &__top-contact{
    display: flex;
    justify-content: flex-end;
    @include respond(767){
      display: none;
    }
    .header__contacts{
      i{
        margin-right: 10px;
        @include xl-max{
          margin-right: 0;
          font-size: 35px;
        }
      }
      span.phone, span.chat{
        font-size: 20px;
        font-weight: bold;
        color: $white;
        @include xl-max{
          font-size: 18px;
        }
      }
      .image-viber{
        width: 38px;
        height: 38px;
        margin-right: 10px;
      }
    }
  }

  &__btn-contact{
    margin-right: 0;
    background: #272727;
    @include respond(767){
      display: none;
      font-size: 13px;
      padding: 10px 20px;
    }
    &:hover{
      background: $grey-hover;
    }
  }
  &__content{
    padding: 10px 0;
    top: 0;
    height: 180px;
    position: fixed;
    width: 100%;
    z-index: 10;
    @include gradient;
    box-shadow: 0 0 7px 1px rgba(0,0,0,0.36);
    transition: background 0.5s ease-in-out, height 0.5s ease-in-out;
    @include respond(767){
      display: flex;
      justify-content: space-between;
      height: 110px;
    }
    &.js-fixed{
      //position: fixed;
      border-bottom: none;
      @include gradient;
      box-shadow: 0 0 7px 1px rgba(0,0,0,0.36);
      .wrapper{
        //height: 125px;
        .header__logo{
          img{
            //width: 200px;
          }
        }
      }

    }
    .wrapper {
      @include flex();
      align-items: center;
      transition: background 0.5s ease-in-out, height 0.5s ease-in-out;
      @include lg-max{
       // flex-direction: row-reverse;
        //height: 70px;
      }
    }
    @include lg-max{
      //box-shadow: 0 0 7px 1px rgba(0,0,0,.36);
      //background: linear-gradient(170deg,#c03225,rgb(114, 31, 31));
    }
  }

  &__logo{
    img{
      width: 200px;
      margin-bottom: 10px;
      @include respond(767){
        width: 180px;
        margin-bottom: 0;
      }
    }
  }
  &__overlay {
    display: none;
    position: fixed;
    top: 170px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 35;
    @include respond(767){
      top: 110px;
    }
  }

  &__text{
    width: 220px;
    @include lg-max{
      display: none;
    }
    span{
      color: $white;
      display: block;
      text-align: center;
    }
    .text1{
      font-size: 34px;
      font-weight: bold;
      letter-spacing: 4px;
      text-transform: uppercase;
    }
    .text2{
      font-size: 16px;
      letter-spacing: 4px;
      text-transform: uppercase;
      font-weight: 800;
      margin-left: 10px;
      @include xl-max{
        font-size: 14px;
      }
    }
  }

  &__contacts{
    display: flex;
    align-items: center;
    a{
      display: flex;
      align-items: center;
      margin-left: 35px;
      @include xl-max{
        flex-direction: column;
        margin-left: 25px;
      }
      &:first-child{
        margin-left: 20px;
      }
    }
    i{
      color: $white;
      font-size: 45px;
    }
  }
  &__top-info{
    @include respond(767){
      justify-content: center!important;
    }
  }
  &__bottom-info{
    @include respond(767){
      flex-direction: row-reverse;
    }
  }

  .header__menu-mob{
    display: none;
    width: 32px;
    height: 24px;
    position: relative;
    transform: rotate(0deg);
    @include transition();
    cursor: pointer;
    span{
      display: block;
      position: absolute;
      height: 4px;
      width: 50%;
      background: $white;
      opacity: 1;
      transform: rotate(0deg);
      @include transition();

      &:nth-child(even){
        left: 50%;
      }
      &:nth-child(odd){
        left: 0px;
      }
      &:nth-child(1),
      &:nth-child(2){
        top: 0px;
      }
      &:nth-child(3),
      &:nth-child(4){
        top: 9px;
      }
      &:nth-child(5),
      &:nth-child(6){
        top: 18px;
      }
    }
    &.open{
      span{
        &:nth-child(1),
        &:nth-child(6){
          transform: rotate(45deg);
        }
        &:nth-child(2),
        &:nth-child(5){
          transform: rotate(-45deg);
        }
        &:nth-child(1){
          left: 5px;
          top: 7px;
        }
        &:nth-child(2){
          left: calc(50% - 5px);
          top: 7px;
        }
        &:nth-child(3){
          left: -50%;
          opacity: 0;
        }
        &:nth-child(4){
          left: 100%;
          opacity: 0;
        }
        &:nth-child(5){
          left: 5px;
          top: 13px;
        }
        &:nth-child(6){
          left: calc(50% - 5px);
          top: 13px;
        }
      }
    }
    @include lg-max{
      display: block;
    }
  }

  .mob-contact{
    display: none;
    color: #fff;
    padding-left: 8px;
    margin: 14px 0;
    i{
      font-size: 30px;
      margin-right: 10px;
    }
    .phone, .chat{
      font-size: 18px;
      font-weight: 700;
    }
    .image-viber{
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
    @include respond(767){
      display: flex;
      align-items: center;
    }
  }
}



.menu{
  width: 80%;
  margin: 15px 0;
  &__list{
    @include flex();
  }


  &__link {
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 0;
      height: 1.8px;
      background: $white;
      transition: .3s;
      cursor: pointer;
      @include md-max {
        display: none;
      }
    }

    &:after {
      //content: '';
      //position: absolute;
      //top: 0;
      //left: 0;
      //right: 0;
      //margin: 0 auto;
      //width: 0;
      //height: 1.8px;
      //background: #000;
      //transition: .3s;
      //cursor: pointer;
      @include md-max {
        display: none;
      }
    }
  }
  &__item {
    &-dot{
      .menu__link{
        &:before {
          width: 85%;
          color: #fff;
        }
        &:after {
          width: 16px;
          height: 7px;
          border-radius: 50%;
          top: 30px;
          color: #fff;
        }
      }
    }
  }

  &__link{
    color: $white;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 8px 8px;
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    @include xl-max{

    }
    &-current{
      &:before{
        width: 85%;
        color: #fff;
      }
      &:after{
        width: 16px;
        height: 7px;
        border-radius: 50%;
        top: 30px;
        color: #fff;
      }
    }
  }

  @include lg-max{
    display: none;
    &.active {
      display: block;
      clear: both;
      height: auto;
      width: 100%;
      position: fixed;
      float: none;
      top: 155px;
      right: 0;
      padding: 15px 20px;
      z-index: 50;
      background: #353535;
      .menu {
        &__list {
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
        }
        &__link {
          display: flex;
          color: #fff;
          font-size: 20px;
          margin: 10px 0;
          text-transform: capitalize;
        }
      }
    }
  }
  @include respond(767){
    top: 95px!important;
  }
  @include respond(465){
    &.active {
      width: 100% !important;
      bottom: 0;
      overflow: auto;
      margin-bottom: 0;
    }
  }
}


