.stock{
  //height: 100vh;
  position: relative;
  //padding-top: 178px;
  padding-top: 0;
  padding-bottom: 0;
  @include respond(767){
    height: auto;
  }
  .wrapper {
    //padding: 245px 0 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -65%);
    @include sm-max{
      padding: 100px 0 95px;
    }
  }
  &__content{
    //height: 100vh;
    //background: #686868;
    @include respond(767){
      height: auto;
    }
    &:after{
      //content: "";
      //position: absolute;
      //background: rgba(0,0,0,0.71);
      //left: 0;
      //top: 0;
      //width: 100%;
      //height: 100%;
      //z-index: 2;
      @include md-max{
        background-attachment: unset;
      }
      @include sm-max{
        background-attachment: fixed;
      }
    }
  }
  &__image{
    img{
      height: 650px;
      @include respond(767){
        max-height: 450px;
      }
    }
    &:before{
      content: "";
      position: absolute;
      background: rgba(0,0,0,0.4);
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }
  }
  &__text {
    text-align: center;
    z-index: 1;
    margin: 0 auto;
    max-width: 95%;
    @include sm-max{
      padding-bottom: 40px;
    }
    h1 {
      color: #fff;
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 25px;
      text-transform: uppercase;
      padding: 10px 5px;
      text-shadow: 1px 1px 2px black, 0 0 2em #d21323;
      background-image: linear-gradient(150deg,#d21323,#8830386e);
      p{
        text-align: center;
        margin-bottom: 0;
      }
      @include lg-max {
        font-size: 30px;
        margin-bottom: 25px;
      }
      @include xs-max{
        font-size: 18px;
      }
    }
  }
    &__descr-top{
      color: #fff;
      font-size: 16px;
      margin-bottom: 25px;
      text-transform: uppercase;
      p{
        text-align: center;
      }
      @include xs-max{
        font-size: 16px;
      }
    }
    &__descr-bottom {
      color: #fff;
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 40px;
      width: 100%;
      padding: 8px 5px;
      background-image: linear-gradient(150deg,#27272775,#272727);
      p{
        text-align: center;
        margin-bottom: 0;
      }
      @include lg-max {
        font-size: 18px;
        margin-bottom: 30px;
      }
    }
    .btn-slider-wrap{
      position: relative;
      text-align: center;
    }
    &__btn-contact {
      background: $light-red;
      color: #fff;
      font-weight: 600;
      box-shadow: 0 8px 9px 0 rgba(96, 94, 94, .17);
      position: absolute;
      top: -180px;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      cursor: pointer;
    }

  &__overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.71);
    z-index: 1;
  }
}

.button__down{
  position: relative;
  text-align: center;

  a{
    padding-top: 60px;
    span{
      position: absolute;
      top: -100px;
      left: 50%;
      width: 30px;
      height: 50px;
      margin-left: -15px;
      border: 2px solid $light-red;
      border-radius: 50px;
      box-sizing: border-box;
      z-index: 2;
      @include respond(767){
        top: -77px;
      }
      &:before{
        position: absolute;
        top: 10px;
        left: 50%;
        content: '';
        width: 6px;
        height: 6px;
        margin-left: -3px;
        background-color: $light-red;
        border-radius: 100%;
        animation: up-down 2s infinite;
        box-sizing: border-box;
      }
    }
  }
}

@keyframes up-down {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}